<!-- This partial is used for rendering side nav bar for introduction pages-->
<ul class="nav nav-pills nav-stacked" id='nav-two'>
  <li class="nav-header">Pick Me Up</li>
  <li  class="genre_item">
    <a href="/pmu_intro">What is PMU?</a>
  </li>

  <li class="genre_item">
    <a href="/help">How to use the service</a>
  </li>


  <li class="genre_item">
    <a href="/team_intro">About the Team</a>
  </li>


</ul>
