<!-- This is for rendering google maps for event object -->
<div class="gmaps">
  <div id='input'>
    <input id='gmaps-input-address'
           placeholder='Start typing a place name...'
           type='text'
           name="event[address]"/>
    <br/>

    <div id='gmaps-error'></div>
  </div>

  <div id='gmaps-canvas2'></div>
</div>