<div class="container-fluid">
  <div class='row-fluid'>
    <div class='span2 well'>
      <%= render "shared/about_nav" %>
    </div>
    <div class="span1"></div>
    <div class='span8 well'>


      <h1><div class="page-header">How to use Pick Me Up?</div></h1>
      <br>
      <div class="margin-left">
        <h2 class="font_walkway">First Time using the site?</h2>
        <p class="tab content">
          You can be either the <strong>event organizer</strong> or the <strong>event attendee</strong>! See each section for more details
        </p>
        <br>
        <h2 class="font_walkway">Organizers</h2>
        <span class="header font_ubuntu tab">Sign Up & Login</span>
        <div class="margin-left">
          <p class="tab content">
            The sign-up process is really easy. Click on <strong>Organizer Sign-up</strong> on the top navigation bar, and fill out the form. Every field is required except for the EventBrite ID.
            If you have EventBrite ID, type it in so that you can import events from your EventBrite account very easily.
          </p>
        </div><br>
        <span class="header font_ubuntu tab">Create An Event</span>
        <div class="margin-left">
          <p class="tab content">
            There are two ways in which an event organizer can create an event on "Pick Me Up"
          <ul class="content">
            <li>
              <span class="Italics"><strong>Manually create the events</strong></span> - You will be prompted to type in all the fields on the form. If not, an event will not be created.
              The ".csv" file should contain all the ticket S/N issued to the customers. The Column should have the name <strong>number</strong> at the top,
              and all the ticket serial numbers should be within the same column. Please refer to the example below.
            </li>
            <li>
              <span class="Italics"><strong>Import Events from EventBrite</strong></span> - On the main page, you will see <strong>Import</strong> button. It will automatically import <strong>EventBrite</strong> events from your account.
            </li>
          </ul>
          <div class="csv_container"><div class="csv"></div></div>
          </p>
        </div><br>

        <span class="header font_ubuntu tab">Manage Your Events</span>
        <div class="margin-left">
          <p class="tab content">
            Once you have created or imported events, it is really easy to manage events. Click on your name,
            and select <strong>"My Events"</strong>. There, you will see lists of your own events. You can take a look
            at a specific event in detail, or edit/delete it.,
          </p>
        </div>
        <br><br>
        <h2 class="font_walkway">Event Attendees</h2>
        <span class="header font_ubuntu tab">Sign Up & Login</span>
        <div class="margin-left">
          <p class="tab content">
            The thing is, you do not have to sign up at all! You can just login with your existing Facebook account,
            and start using the service right away!
          </p>
        </div><br>
        <span class="header font_ubuntu tab">Create request to get picked up!</span>
        <div class="margin-left">
          <p class="content">
            There are several types of methods you can create depending on your need
          <ul class="content">
            <li><strong>Car Driving</strong> - You are volunteering to drive your car to the event. You just have to wait for other participants interested in the trip to join you!</li>
            <li><strong>Car Sharing</strong> - You would like to share a car ride. You will see a list of drivers going to the same event! Take a look at their trip details and request to join!</li>
            <li><strong>Cab Sharing</strong> - You would like to share a cab ride. You will see a list of other people who want to share a cab ride. Request and create a cab ride trip!</li>
            <li><strong>Uncommitted</strong> - You are undecided at the moment! Once you make up your mind, please edit your trip detail so you can see others!</li>
          </ul>
          </p>
        </div><br>
        <span class="header font_ubuntu tab">Search & Filter - Find your Best match!</span>
        <div class="margin-left">
          <p class="tab content">
            We understand if you do not want to go on a trip with strangers, even if they are verified through our trusted web filter.
            To solve such problem, we enabled facebook friend filtering, where you will get to know whether your facebooks friends or going or not!
            In addition, you can search for someone in particular, and filter by time and distance. It is now so easy to find your best match!
          </p>
        </div><br>
        <span class="header font_ubuntu tab">Confirm your current whereabouts with mobile device!</span>
        <div class="margin-left">

          <div class="mobile_container"><div class="mobile"></div></div>
          <p class="tab content">
            Check in with your mobile phone! If you are at your expected location (within 0.5 miles), you can use your mobile phone to check-in. Please type in your PMU confirmation code;
            If confirmed, you will be notified that your trip has been confirmed, and other trip partners will know about it! This is to ensure that there are no fake requests and trip. Currently
            The application is only available in Android phones.
          </p>
        </div>
      </div>
    </div>
    <div class="span1"></div>
  </div>
</div>