<div class="container-fluid">
  <div class='row-fluid'>
    <div class='span2 well'>
      <%= render "shared/about_nav" %>
    </div>
    <div class="span1"></div>
    <div class='span8 well'>

      <h1><div class="page-header">What is Pick Me Up?</div></h1>
      <br>

      <div class="presentation_container"><div class="presentation"></div></div>
      <br>
      <div class="margin-left">
        <p class="tab content">
          PickMeUp is a service that helps medium and large event organizers to reduce traffic
          congestion by offering alternative transportation modes for their attendants. This web service differs from existing car or cab
          sharing services by only focusing on events and increasing trustworthiness by several filters, thus
          presenting an immediate, compelling reason for the event attendees to use the service.
        </p>

        <p class="tab content">
          Event organizers can integrate their EventBrite credentials so that they can import the events into this platform. This will have an effect of attracting more people to
          come to the event.
        </p>

      </div>


    </div>
    <div class="span1"></div>
  </div>
</div>







