<div class="container-fluid">
  <div class='row-fluid'>
    <div class='span2 well'>
      <%= render "shared/about_nav" %>
    </div>
    <div class="span1"></div>
    <div class='span8 well'>

      <h1><div class="page-header">About the Team</div></h1>
      <br>
      <div class="team_container">
        <div class="team"></div>
      </div>
      <br>
      <span class="header font_ubuntu tab">We are Team Pick Me Up</span>
      <div class="margin-left">
        <p class="tab">
        <ul class="content" style="font-family: georgia">
          <li>Andrew Song (MIT Class of 2015, course 6)</li>
          <li>Nick Torgerson (MIT Class of 2013, course 2)</li>
          <li>Melanie Stevenson (Berklee College of Music Class of 2015)</li>
          <li>Mario Morales (MIT Class of 2015, course 6)</li>
          <li>Shantanu Jains (MIT Class of 2016, course 6)</li>
        </ul>
        </p>
      </div>
      <br>
    </div>

    <div class="span1"></div>
  </div>
</div>