<!DOCTYPE html>
<html>
<head>
  <title>Pmu</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41457008-4']);
      _gaq.push(['_setDomainName', 'pmu.herokuapp.com']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>

</head>
<body>
<div class='navbar navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class='container-fluid'>
      <div class='row-fluid'>

        <ul class="nav">
          <li>
            <a class="brand_img" href="/main">
            </a>
          </li>
          <li><a class="brand active">Pick Me Up</a></li>
          <li><a href="/intro"><i class="icon-info-sign icon-large"></i>&nbsp;About Pick Me UP</a></li>
          <li><a href="/team">About us</a></li>
          <li><a href="/help"><i class="icon-question-sign"></i>&nbsp;Help</a></li>

        </ul>
        <ul class="nav pull-right">

              <li><a href="#">Organizer Sign-Up</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="root_log_in"><i class="icon-signin"></i>Log In <strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                  <li><a id="organizer_log_in" href="#"><i class="icon-user icon-large"></i>&nbsp;<strong>Organizer</strong></a></li>
                  <li class="divider"></li>
                  <li><a id="log_in" href="#"><i class="icon-facebook-sign icon-large"></i>&nbsp;<strong>Attendee</strong></a></li>
                </ul>
              </li>
        </ul>

      </div>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>

